.chart-container {
    margin: 10px;
    padding: 20px;
    border: 1px;
    height: 420px;
    width: 800px;
    border-radius: 2%;
    border-style: solid;
    border-color: rgb(27, 27, 27);
    background-color: transparent;
    text-align: right;
}

.dashboard-container {
    width: 825px;
    padding: 5px;
}